.footer {
  background-color: #1d1d1d;
 

}

.title {
  color: rgb(34, 29, 29);
}

.description {
  color: rgb(22, 20, 20);
  font-size: 20px;
  text-shadow: #f1eded;
  text-emphasis-color: #f1eded;
}

.footerlink,
.footerlink:hover {
  color: #fff;
}
